<mat-toolbar class="header">
  <!-- <a routerLink='/'> Index </a> -->

  <div class="home">
    <button aria-label="Example icon button with a home icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>



  <div class="login-button" >
    <button mat-button mat-stroked-button routerLink='/login' color="basic">
      <a > Entrar</a>
    </button>
    <button  mat-button mat-stroked-button color="basic" routerLink='/register'>
      <a > Cadastrar</a>
    </button>
  </div>


<div>

  <div class="ruletalk" id="here">
    <app-chat></app-chat>

    <div >


    </div>


    <div class="buttns">
      <select id="tam" class="tam">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <button mat-icon-button color="accent" (click)="ruleTalk('config')" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  
      <button mat-fab color="accent" (click)='prodChat()' aria-label="Example icon button with a bookmark icon" >
        <mat-icon>chat</mat-icon>
  
      </button>
    </div>

  </div>


</div>

</mat-toolbar>
<mat-icon>table</mat-icon>

 <div >
  <select >
    <option>
      Original
      <input type="radio">
    </option>
    
    <option>
      Dark
      <input type="radio">
    </option>
    <option>
      White
      <input type="radio">
    </option>
  </select>
  <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field> 
</div> -->
<router-outlet></router-outlet>