
<div class="container">
    <p class="bar">Bem-vindo</p>
    <mat-toolbar>

 
        <div class="owa">
            <button (mouseover)="openTable('event', 'financeiro')">
                    <h1>Financeiro</h1>
            </button>
        
            <button (mouseover)="openTable('event', 'carros')">
                    <h1>Carros</h1>
            </button>
            <button (mouseover)="openTable('event', 'tickets')"> 
                    <h1>Tickets</h1>
            </button>
        </div>
    
    
    
        <div class="tob">
            <button (mouseover)="addReference()" >
                
                <mat-icon>add</mat-icon>
                
            </button>
            <button>
                <mat-icon fab-simple>search</mat-icon>
            </button>
        </div>

    
    </mat-toolbar>

    <!-- <mat-toolbar> -->
    <mat-expansion-panel hideToggle >        
        <mat-expansion-panel-header >
            <mat-panel-title>
                <mat-icon>apps</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="details">
                <h4>Apps</h4>
            </mat-panel-description>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" >
            </mat-expansion-panel>
        </mat-expansion-panel-header> 
        <div class="togl">
            <button>
                <mat-icon fab-simple>edit</mat-icon>
                <h3>Editar</h3>
            </button>
        
            <button>
                <mat-icon fab-simple>delete</mat-icon>
                <h3>Deletar</h3>
            </button>
            <button>
                <mat-icon fab-simple>bar_chart</mat-icon>
                <h3>Graficos</h3>
            </button>
        </div>

    </mat-expansion-panel>

    <!-- </mat-toolbar> -->
    <div id="app" >
        <div class="chant"><br></div>
        <!-- {{ this.p.innerHTML }} -->
        <app-table> </app-table>

    </div>
</div>



<!-- 
<app-financeiro [usuarios]="listaUsuarios"
(selecionando)="usuarioSelecionado = $event"></app-financeiro> -->

<!-- <div class="container">
    <h1>Estrutura de um componente</h1>
  
    <br/>
  
    <div class="row">
      <div class="col-sm-2 offset-sm-5">
        <div class="card"
          *ngIf="usuarioSelecionado" >
          <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{usuarioSelecionado.id}}.jpg" />
  
          <div class="card-body">
            <h5 class="card-title">{{usuarioSelecionado.nome}}</h5>
          </div>
        </div>
      </div>
    </div>
  
    <hr/>
  

  </div> -->
<!-- <app-financeiro></app-financeiro> -->



<!-- <div class="heap">
    <mat-icon>apps</mat-icon>
    
</div> -->

   <!-- </mat-expansion-panel-header> -->
    

    

    <!-- </mat-expansion-panel> -->