<div class="bar">Registrar</div>
<div class="container">
  <form (ngSubmit)="onSubmit(f)" class="example-form" #f="ngForm" novalidate > 
      <label appearance="fill">Login
        <input matInput ngModel name="login" placeholder="Ex. nome" value=""  #login="ngModel" require>
      </label>
      <label>Email
        <input matInput ngModel  name="email" placeholder="Addr. seunome@gmail.com" value=""  #email="ngModel" require>
      </label>
      <label>Password
        <input matInput ngModel name="password" type="password"  #pass="ngModel" placeholder="Senha: ABC123#$%oi">
      </label>

      <button>
        Registrar
      </button>
    </form>
    <tbody *ngFor="let item of hasEmail$ | async">
      <td>{{ item.id }}</td>
  
      <td>{{ item.message }}</td>
    </tbody>


</div>
<div class="bar">

  {{ f.value.login }}
  {{ f.value.pass }}

  {{ f.value.email }}


</div>
